<!DOCTYPE html>
<html>
<head th:replace="layout :: head">
</head>
<body  class="hold-transition skin-blue sidebar-collapse sidebar-mini">
<div class="wrapper">
	<header th:replace="layout :: header"></header>
	<aside th:replace="layout :: aside"></aside>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1><i class="far fa-user"></i>
         Login
      </h1>
      
    </section>
	<section class="content" th:fragment="content">
	     <div class="card card-default">
	     	<div class="card-body">
	     		<form action="#" th:action="@{/auth/login-post}" th:object="${user}" method="post">
		            <div class="form-group">
		              <label for="username">Username</label>
		              <input
		                type="text"
		                name="username"
		                autofocus
		                required
		                id="id_username"
		                placeholder="Enter your username"
		                class="form-control"
		              />
		            </div>
		            <div class="form-group">
		              <label for="password">Password</label>
		              <input
		                type="password"
		                name="password"
		                required
		                id="id_password"
		                placeholder="Enter your password"
		                class="form-control"
		              />
		            </div>
		            <div th:if="${error!=null}" class=" alert alert-danger" role="alert">Datos no válidos</div>
					<div th:if="${logout!=null}" class=" alert alert-info" role="alert">Has cerrado sesión</div>
		            <input
		              type="submit"
		              class="btn btn-primary btn-block"
		              value="Log in"
		            />
		          </form>
				<p class="mb-0">
		            <a href="#" th:href="@{/auth/registerForm}" class="text-center">Register a new membership</a>
		        </p>
	     	</div>
	     </div>
	</section>
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="layout :: footer"></footer>
  <aside th:replace="layout :: aside2"></aside>
  <div class="control-sidebar-bg"></div>
</div>
	<th:block th:replace="layout :: assets"></th:block>
</body>
</html>