
<!DOCTYPE html>
<html>
<head th:replace="layout :: head">
</head>
<body  class="hold-transition skin-blue sidebar-collapse sidebar-mini">
<div class="wrapper">
	<header th:replace="layout :: header"></header>
	<aside th:replace="layout :: aside"></aside>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 th:if="${medicamento.id != 0}"><i class="far fa-edit"></i>
         Edit medicine
      </h1>
      <h1 th:if="${medicamento.id == 0}"><i class="fas fa-plus"></i>
         Create medicine
      </h1>
      
    </section>
	<section class="content" th:fragment="content">
	     <div class="card card-default">
	     	<div class="card-body">
	     		<form action="#" th:action="@{/medicamentos/add}" th:object="${medicamento}" method="post" enctype="multipart/form-data">
					<input type="hidden" th:field="*{id}" id="id">
					<div class="form-group">
						<label for="nombre">Name</label>
						<input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Enter name"/>
					</div>
					<div class="form-group">
						<label for="descripcion">Description</label>
						<input type="text" th:field="*{descripcion}" class="form-control" id="descripcion" placeholder="Enter description"/>
					</div>
					<div class="form-group">
						<label for="receta">Receta</label>
						<select th:field="*{receta}">
						    <option th:value="'s'" th:text="Si"></option>
						    <option th:value="'n'" th:text="No"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="precio">Price</label>
						<input type="number"step="any" th:field="*{precio}" class="form-control" id="precio" placeholder="Enter price"/>
					</div>
					<div class="form-group">
						<label for="stock">Stock</label>
						<input type="number" th:field="*{stock}" class="form-control" id="stock" placeholder="Enter stock"/>
					</div>
					<a th:href="@{/medicamentos/list}">
						<button type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i></button>
					</a>
					<input type="submit" class="btn btn-primary"/>
				</form>
	     	</div>
	     </div>
	</section>
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="layout :: footer"></footer>
  <aside th:replace="layout :: aside2"></aside>
  <div class="control-sidebar-bg"></div>
</div>
	<th:block th:replace="layout :: assets"></th:block>
</body>
</html>