<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<table class="table table-striped table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Description</th>
				<th>Name</th>
				<th>Price</th>
				<th>Hours</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody th:each="course: ${courses}">
			<th th:text="${course.name}"></th>
			<th th:text="${course.description}"></th>
			<th th:text="${course.price}"></th>
			<th th:text="${course.hours}"></th>	
			<th>
				<a th:href="@{/courses/formCourse/}+${course.id}">
                  <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
               	</a>
				<a th:href="@{/courses/deleteCourse/}+${course.id}">
					<button type="button" class="btn btn-default"><i class="fas fa-trash"></i></button>
				</a>
				<a th:href="@{/courses/showStudents/} + ${course.id}">
					<button type="button" class="btn btn-default"><i class="fas fa-user-graduate"></i></button>
				</a>
			
			</th>	
		</tbody>
	</table>
	<a th:href="@{/courses/formCourse}">
		<button type="button" class="btn btn-primary">New Course</button>
	</a>
</body>
</html>