<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<table class="table table-striped table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Prescription</th>
				<th>Price</th>
				<th>stock</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody th:each="medicamento: ${medicamentos}">
			<th th:text="${medicamento.nombre}"></th>
			<th th:text="${medicamento.descripcion}"></th>
			<th>
				<span th:if="${medicamento.receta}=='s'"><i class="fas fa-check"></i></span>
				<span th:if="${medicamento.receta}=='n'"><i class="fas fa-times"></i></span>
			
			</th>
			<th th:text="${medicamento.precio}"></th>	
			<th th:text="${medicamento.stock}"></th>	
			<th>
				<a th:href="@{/medicamentos/form/}+${medicamento.id}">
                  <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
               	</a>
				<a th:href="@{/medicamentos/delete/}+${medicamento.id}">
					<button type="button" class="btn btn-default"><i class="fas fa-trash"></i></button>
				</a>
			
			</th>	
		</tbody>
		<tfoot>
			<th>Name</th>
			<th>Description</th>
			<th>Prescription</th>
			<th>Price</th>
			<th>stock</th>
			<th>Actions</th>
		</tfoot>
	</table>
	<a th:href="@{/medicamentos/form}">
		<button type="button" class="btn btn-primary">New medicine</button>
	</a>
</body>
</html>