
<!DOCTYPE html>
<html>
<head th:replace="layout :: head">
</head>
<body  class="hold-transition skin-blue sidebar-collapse sidebar-mini">
<div class="wrapper">
	<header th:replace="layout :: header"></header>
	<aside th:replace="layout :: aside"></aside>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1><i class="fas fa-search"></i>
         Listado de Pacientes
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Collapsed Sidebar</li>
      </ol>
    </section>
    <th:block th:replace="layout :: alerts"></th:block>
	<section class="content" th:fragment="content">
	     <div class="card card-default">
	     	<div class="card-body">
	     		<table class="table table-striped table-bordered" id="data">
					<thead class="thead-light">
						<tr>
							<th>Name</th>
							<th>Last name</th>
							<th>Age</th>
							<th>Discharge date</th>
							<th>Speciality</th>
							<th>Username</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="medico: ${medicos}">
							<th th:text="${medico.nombre}"></th>
							<th th:text="${medico.apellidos}"></th>
							<th th:text="${medico.edad}"></th>
							<th th:text="${medico.fechaalta}"></th>
							<th th:text="${medico.especialidad}"></th>	
							<th th:text="${medico.username}"></th>
							<th>
								<a class="btn btn-default" th:href="@{/users/formMedico/}+${medico.id}">
									<i class="fa fa-edit"></i>
				               	</a>
								<a class="btn btn-default" th:href="@{/users/deleteMedico/}+${medico.id}">
									<i class="fas fa-trash"></i>
								</a>
							
							</th>	
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Last name</th>
							<th>Age</th>
							<th>Discharge date</th>
							<th>Speciality</th>
							<th>Username</th>
							<th>Actions</th>
						</tr>
					</tfoot>
				</table>
				<a th:href="@{/users/formMedico}">
					<button type="button" class="btn btn-primary">New doctor</button>
				</a>
	     	</div>
	     </div>
	</section>
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="layout :: footer"></footer>
  <aside th:replace="layout :: aside2"></aside>
  <div class="control-sidebar-bg"></div>
</div>
	<th:block th:replace="layout :: assets"></th:block>
</body>
</html>