
<!DOCTYPE html>
<html>
<head th:replace="layout :: head">
</head>
<body  class="hold-transition skin-blue sidebar-collapse sidebar-mini">
<div class="wrapper">
	<header th:replace="layout :: header"></header>
	<aside th:replace="layout :: aside"></aside>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 th:if="${paciente.id != 0}"><i class="far fa-edit"></i>
         Edit Patient
      </h1>
      <h1 th:if="${paciente.id == 0}"><i class="fas fa-plus"></i>
         Create Patient
      </h1>
      
    </section>
	<section class="content" th:fragment="content">
	     <div class="card card-default">
	     	<div class="card-body">
	     		<form action="#" th:action="@{/users/addPaciente}" th:object="${paciente}" method="post" enctype="multipart/form-data">
					<input type="hidden" th:field="*{id}" id="id">
					<input type="hidden" th:field="*{role}" id="role">
					<input type="hidden" th:field="*{token}" id="token">
					<input type="hidden" th:field="*{enabled}" id="enabled">
					<div class="form-group">
						<label for="username" class="sr-only">Username</label>
						<input type="text" th:field="*{username}" class="form-control" id="username" name="username" placeholder="Username"/>
					</div>
					<div class="form-group">
						<label for="password"  	class="sr-only">Password</label>
						<input type="password" th:field="*{password}" class="form-control" id="password" name="password" placeholder="Password"/>
					</div>
					<div class="form-group">
						<label for="nombre">Name</label>
						<input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Enter name"/>
					</div>
					<div class="form-group">
						<label for="apellidos">Last name</label>
						<input type="text" th:field="*{apellidos}" class="form-control" id="descripcion" placeholder="Enter last name"/>
					</div>
					<div class="form-group">
						<label for="edad">Age</label>
						<input type="number"step="any" th:field="*{edad}" class="form-control" id="edad" placeholder="Enter age"/>
					</div>
					<div class="form-group">
						<label for="direccion">Address</label>
						<input type="text"step="any" th:field="*{direccion}" class="form-control" id="direccion" placeholder="Enter address"/>
					</div>
					<div class="form-group">
						<label for="file">Foto</label>
						<input if="filebutton" name="file" class="form-control input-file" type="file">
					</div>
					<a th:href="@{/users/listPacientes}">
						<button type="button" class="btn btn-danger"><i class="fas fa-arrow-circle-left"></i></button>
					</a>
					<input type="submit" class="btn btn-primary"/>
				</form>
	     	</div>
	     </div>
	</section>
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="layout :: footer"></footer>
  <aside th:replace="layout :: aside2"></aside>
  <div class="control-sidebar-bg"></div>
</div>
	<th:block th:replace="layout :: assets"></th:block>
</body>
</html>