<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<form action="#" th:action="@{/pacientes/add}" th:object="${paciente}" method="post">
		<h1 th:text="${paciente.id != 0} ? 'Editar paciente' : 'Nuevo paciente' ">
		</h1>
		<input type="hidden" th:field="*{id}" id="id">
		<div class="form-group">
			<label for="nombre">Name</label>
			<input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Enter name"/>
		</div>
		<div class="form-group">
			<label for="apellidos">Last name</label>
			<input type="text" th:field="*{apellidos}" class="form-control" id="descripcion" placeholder="Enter last name"/>
		</div>
		<div class="form-group">
			<label for="edad">Age</label>
			<input type="number"step="any" th:field="*{edad}" class="form-control" id="edad" placeholder="Enter age"/>
		</div>
		<div class="form-group">
			<label for="direccion">Address</label>
			<input type="text"step="any" th:field="*{direccion}" class="form-control" id="direccion" placeholder="Enter address"/>
		</div>
		<div class="form-group">
			<label for="foto">Photo</label>
			<input type="text"step="any" th:field="*{foto}" class="form-control" id="foto" placeholder="Enter photo"/>
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text"step="any" th:field="*{username}" class="form-control" id="username" placeholder="Enter username"/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="number"step="any" th:field="*{password}" class="form-control" id="password" placeholder="Enter password"/>
		</div>
		
		
		<a th:href="@{/pacientes/list}">
			<button type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i></button>
		</a>
		<input type="submit" class="btn btn-primary"/>
		
	</form>
	
</body>
</html>